.form__title {
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.21;
}

@media screen and (min-width: 1024px) {
  .form__title {
    font-size: 24px;
  }
}