.header__nav_item {
  padding: 40px 0 18px 0;
  list-style: none;
}

@media screen and (min-width: 1024px) {
  .header__nav_item {
    margin: 0 auto;
    max-width: 880px;
    padding: 0 21px 0 0;
    font-size: 18px;
    line-height: 1.22;
  }
}