.popup__close {
  background: transparent url(../../../images/close-icon-mobile.svg) no-repeat center;
  background-size: 20px 20px;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .popup__close {
    top: -40px;
    right: -40px;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__close {
    transition: opacity .4s;
  }

  .popup__close:hover {
    opacity: .6;
    cursor: pointer;
  }
}