.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;
  padding: 0 30px 31.6px 30px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_item {
    padding: 40px 0 18px 0;
    list-style: none;
  }
}

.link {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-decoration: none;

  &_signout {
    background: none;
    border: none;
    color: #A9A9A9;
    cursor: pointer;
  }
}

@media screen and (min-width: 600px) {
  .header {
    margin: 0 auto;
    max-width: 80%;
    padding: 0 0 35px 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin: 0 auto;
    max-width: 880px;
    padding: 0 0 41px 0;
  }

  .nav {
    flex-direction: row;
    align-items: center;

    &_item {
      margin: 0 auto;
      max-width: 880px;
      padding: 0 21px 0 0;
      font-size: 18px;
      line-height: 1.22;
    }
  }

  .link {
    font-size: 18px;
    line-height: 1.22;
    transition: opacity .4s;

    &:hover {
      opacity: .6;
    }
  }
}
